<table>
  <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% ranking_users.each_with_index do |ranking_user, index| %>
      <tr>
        <td>
          <% if index <= 9 %>
            <span class="winner">
              <%= index + 1 %>
            </span>
          <% else %>
            <span>
              <%= index + 1 %>
            </span>
          <% end %>
        </td>
        <td><%= ranking_user.user_name %></td>
        <td><%= ranking_user.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
