<%= content_tag :section do %>
  <div class="poll-header center-align">
    <h1>Ranking for <%= @poll.name %></h1>
    <div class="header-divider"></div>
  </div>
  <p>&nbsp;</p>
  <div class="alert center-align">
    <b>Wait!</b> The ranking is not ready yet. Be patient, young padawan ;)
  </div>
<% end %>
