<div class="row" id="polls-list">
  <% polls.each do |poll| %>
    <div class="col s12">
      <div class="collection">
        <a href="#!" class="collection-item"><%= poll.name %></a>
      </div>
    </div>
  <% end %>
</div>
