<div class="row" id="polls-list">
  <% polls.each do |poll| %>
    <div class="col s12">
      <div class="collection">
        <%= link_to poll.name, poll_path(poll), class: 'collection-item' %>
      </div>
    </div>
  <% end %>
</div>
