<div class="card" data-candidate>
  <div class="card-image">
    <%= image_tag candidate.image_url %>
    <span class="card-title"><%= candidate.name %></span>
    <a class="btn-floating halfway-fab waves-effect waves-light green" data-vote-button>
      <i class="material-icons">add</i>
    </a>
  </div>

  <div class="card-content">
    <p><%= candidate.description %></p>
  </div>
</div>
