<%= content_tag :section do %>
  <div class="row introduction">
    <div class="col s8 offset-s2 centered-content">
      <p class="special">
        Here are some nice polls you can play with and have fun. Choose your
        destiny wisely and make sure your vote counts, if all goes well you
        may have a nice surprise at the end ;)
      </p>
      <p>&nbsp;</p>
      <p>
        A few hours before the real poll starts, the game will not allow you to
        change your guesses. The number of hours depends on the poll so, in
        doubt, contact the adminstrators. The sooner you cast your vote the
        better, for in case of a draw, old guesses have an advantage.
      </p>
      <p>&nbsp;</p>
      <p>
        To join the polls, you have to have an email account that belongs to
        Youse. The valid addresses are:
      </p>
      <ul>
        <li>@youse.com.br</li>
        <li>@youse.co</li>
        <li>@helloyouser.com.br</li>
      </ul>
      <p>&nbsp;</p>
      <p>
        Now, that's enough talking. It is time to pick your poll and try to
        defeat your colleagues. Good game.
      </p>

      <%= render 'list', polls: @polls %>
    </div>
  </div>
<% end %>
