<%= content_tag :section do %>
  <h1>Welcome to the <%= @poll.name %></h1>

  <% if @poll.categories.load.size > 0 %>
    <h2><%= @poll.name %> nominees</h2>

    <% @poll.categories.each do |category| %>
      <h5><%= category.name %></h5>
    <% end %>
  <% end %>
<% end %>
