<%= content_tag :section do %>
  <% if @poll.categories.load.size > 0 %>
    <div class="poll-header center-align">
      <h1><%= @poll.name %> nominees</h1>
      <div class="header-divider"></div>
    </div>

    <% @poll.categories.each do |category| %>
      <h5><%= category.name %></h5>

      <div class="row">
        <% category.candidates.each do |candidate| %>
          <div class="col s12 m6 l3">
            <%= render 'nominee', candidate: candidate %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
