.poll-header {
  h1 {
    font-family: Futura,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: $primary-color;
    text-shadow: #928b8b 2px 3px 3px;
    text-transform: uppercase;
    display: inline;
  }
}

.cd-main-content h5 {
  text-indent: 10px;
}

.header-divider {
  width: 100%;
  background: transparent url(//ddoie2e1uy9qo.cloudfront.net/images/Divider-Desktop.png) no-repeat 50%;
  height: 2px;
  display: inline-block;
}

#ranking-button {
  color: #000;
  background-color: $primary-color;
}

.cd-main-content {
  span.badge  {
    float: none;
  }
}
