<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <%= link_to root_path do %>
          <div class="left">
            image tag
          </div>
          <ul class="left">
            <li class="main-logo">
              <h3 class="logo-wrapper">
                Company name
              </h3>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
  </div>
</header>
